<dialog class="dialog" #modale>
  <div class="dialog-header">
    <h2>Donation</h2>
  </div>
  <div class="dialog-body">
    <form [formGroup]="formulaire">
      <div class="champ-formulaire">
        <label>Infos objet</label>
        <input type="text" [formControlName]="CHAMP_INFOS_OBJET">
      </div>
      <div class="champ-formulaire">
        <label>Date don</label>
        <input type="date" [formControlName]="CHAMP_DATE_DON">
      </div>
      <div class="champ-formulaire">
        <label>Destinataire don</label>
        <input type="text" [formControlName]="CHAMP_DESTINATAIRE_DON">
      </div>
    </form>
  </div>
  <div class="dialog-footer">
    <button class="action-secondaire" (click)="annuler()">Annuler</button>
    <button class="action-principale" (click)="valider()">Valider</button>
  </div>
</dialog>