$hauteur-titre-secondaire-base: 2rem;
$marge-externe-titre-secondaire: 1rem;
$hauteur-titre-secondaire: calc($hauteur-titre-secondaire-base + $marge-externe-titre-secondaire);

.titre {
  margin-bottom: 1rem;
}

.formulaire {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: calc(100% - $hauteur-titre-secondaire);
  overflow: auto;
}