<dialog class="dialog" #modale>
  <div class="dialog-header">
    <h2>Modification d'un objet</h2>
  </div>
  <div class="dialog-body">
    <form class="form" [formGroup]="formulaire">
      <div class="champ-formulaire">
        <label>Catégorie</label>
        <select [formControlName]="CHAMP_CATEGORIE">
          @for (categorie of categories$ | async; track categorie.id) {
            <option [ngValue]="categorie">{{categorie.libelle}}</option>
          }
        </select>
      </div>
      <div class="champ-formulaire">
        <label>Description</label>
        <input type="text" [formControlName]="CHAMP_DESCRIPTION">
      </div>
      <div class="champ-formulaire">
        <label>Infos complémentaires</label>
        <input type="text" [formControlName]="CHAMP_INFOS_COMPLEMENTAIRES">
      </div>
      <div class="champ-formulaire">
        <label>Emplacement</label>
        <input type="text" [formControlName]="CHAMP_EMPLACEMENT">
      </div>
    </form>
  </div>
  <div class="dialog-footer">
    <button class="action-secondaire" (click)="annuler()">Annuler</button>
    <button class="action-principale" [disabled]="formulaire.invalid" (click)="valider()">Valider</button>
  </div>
</dialog>