<div class="logo-name">
  <app-icone-ps-market class="logo"/>
  <span class="name">P&S MARKET</span>
</div>

<nav>
  <ul class="navigation">
    <li><a [routerLink]="ROUTES.STOCK" routerLinkActive="page-actuelle">Stock</a></li>
    <li><a [routerLink]="ROUTES.VENTES" routerLinkActive="page-actuelle">Ventes</a></li>
    <li><a [routerLink]="ROUTES.DONS" routerLinkActive="page-actuelle">Dons</a></li>
    <li><a [routerLink]="ROUTES.REFERENTIELS" routerLinkActive="page-actuelle">Référentiels</a></li>
  </ul>
</nav>
