$hauteur-titre-secondaire-base: 2rem;
$marge-externe-titre-secondaire: 1rem;
$hauteur-titre-secondaire: calc($hauteur-titre-secondaire-base + $marge-externe-titre-secondaire);

.titre {
  margin-bottom: 1rem;
}

.tableau {
  border: 3px solid;
  height: calc(100% - $hauteur-titre-secondaire);
  overflow: auto;
}

.colonne-actions {
  --nb-actions: 0;
  $marge-interne: 0.5rem;
  $espace-actions: 0.5rem;
  $largeur-icone: 2.25rem;

  display: flex;
  align-items: center;
  gap: $espace-actions;
  padding: 0.25rem 0;
  width: calc(var(--nb-actions) * $largeur-icone + (var(--nb-actions) - 1) * $espace-actions);
}

.colonne-infos-objet {
  width: 240px;
  flex: 1;
}

.colonne-plateforme {
  width: 110px;
}

.colonne-url {
  width: 240px;
  flex: 1;
}

.colonne-mise-en-vente {
  width: 134px;
}

.colonne-limite-vente {
  width: 150px;
}

.colonne-statut {
  width: 80px;
}